body{
    background-color: beige;
}
textarea{
    background-color: beige;
    width: 100vw;
    height: 100vh;
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}